<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grio.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>

        <activity android:name=".features.editor.EditorActivity" android:label="Report a bug"
                  android:launchMode="singleInstance"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".features.reporter.ReporterActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

    </application>

</manifest>
